html {
  font-size: 100%;
}
body {
  color: #24292e;
  font-size: 0.9rem;
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
  color: #24292e;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4% 240px 4%;
}



.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}


/* ヘッダー */
header{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

header ul {
  display: flex;
  padding: 10px 0;
}

header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header li a {
  color: #24292e;
}

header li a:hover {
  opacity: 0.7;
}

/* フッター */
footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* works */
.works-title{
  text-align: center;
}

.works-contents{
  max-width: 640px;
  margin: 0 auto;
}

.works-text{
  max-width: 640px;
  margin: 0 auto;
}

.works-img{
  width: 300px;
  height: 200px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 50px;
}

dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 30px 15px;
}

dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 30px 15px;
}

.contact-title{
  text-align: center;
}

/* contact.css */

.contact-form {
  width: 400px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
}
