* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  color: #24292e;
  font-size: 0.9rem;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #24292e;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4% 240px 4%;
}

.site-title a {
  display: block;
}

.page-title{
  text-align: center;
  margin-bottom: 80px;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 80px;
}

#main-visual {
  margin-bottom: 80px;
}

#main-visual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}



#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 50px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd {
  width: 70%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.link{
  display: block;
  text-align: center;
  text-decoration: underline;
}


/* ヘッダー */
header{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

header ul {
  display: flex;
  padding: 10px 0;
}

header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header li img{
  height: 20px;
  width: 20px;
}

header li a {
  color: #24292e;
}

header li a:hover {
  opacity: 0.7;
}

/* フッター */
footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* ABOUTページ */

.space{
  margin-bottom: 3em;
}

/* works */
.works-img{
  width: 640px;
  margin: 0 auto;
}

.works-contents{
  max-width: 640px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.works-text{
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 140px;
}

/* CONTACT */
.contact-form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 10px;
  
}

.label{
  float:left;
  width: 100px;
  margin-right: 30px;
}

.form-group input[type="text"],
.form-group textarea {
  float: left;
  width: 723px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 53px;
}


/* スマホ用 */
@media screen and (max-width: 600px) {
  /* title系 */
  .site-title {
    margin-top: 20px;
  }

  .section-title{
    margin-bottom: 40px;
  }

  .page-title{
    margin: 30px 0;
  }

  /* ヘッダー */
  header{
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  header li{
    font-size: 0.8rem;
    margin-left: 20px;
  }

  header li:first-child {
    margin-left: 0;
  }

  .main-visual img {
    width: 100%;
    height: 420px;
  }

  /* WORKS系 */
  #works ul{
    flex-direction: column;
  }

  #works li {
    width: 100%;
  }


  .works-img{
    width: 100%;
  }



  /* NEWS系 */


  #news dt {
    width: 100%;
    padding-bottom: 0;
  }

  #news dt{
    width: 100px;
    padding-top: 0;
  }

  /* コンタクトページ */
  .contact-form{
    width: 100%;
  }

  .form-group{
    display: block;
  }

  .form-group input[type="text"],
  .form-group textarea {
    width: 95%;
  }
}