* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  color: #24292e;
  font-size: 0.9rem;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #24292e;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4% 240px 4%;
}

#main-visual {
  margin-bottom: 80px;
}

#main-visual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

#works {
  margin-bottom: 130px;
}

#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 50px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd {
  width: 70%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 80px;
}

.link{
  display: block;
  text-align: center;
  text-decoration: underline;
}


/* ヘッダー */
header{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

header ul {
  display: flex;
  padding: 10px 0;
}

header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header li a {
  color: #24292e;
}

header li a:hover {
  opacity: 0.7;
}

/* フッター */
footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* ABOUTページ */
.about-title{
  text-align: center;
  margin-bottom: 80px;
}

.space{
  margin-bottom: 3em;
}

/* works */
.works-title{
  text-align: center;
  margin-bottom: 80px;
}

.works-img{
  width: 640px;
  height: 417px;
  margin: 0 auto;
}

.works-contents{
  max-width: 640px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.works-text{
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 140px;
}

/* NEWS */
.news-title{
  text-align: center;
  margin-bottom: 80px;
}

/* CONTACT */
.contact-title{
  text-align: center;
  margin-bottom: 80px;
}

.contact-form {
  width: 400px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
}

/* スマホ用 */
@media screen and (max-width: 600px) {
  /* title系 */
  .section-title{
    margin-bottom: 40px;
  }

  .about-title{
    font-size: 1.5rem;
    margin-bottom: 65px;
    text-align: center;
  }

  .works-title{
    font-size: 1.5rem;
    margin-bottom: 65px;
    text-align: center;
  }

  .news-title{
    font-size: 1.5rem;
    margin-bottom: 65px;
    text-align: center;
  }

  .contact-title{
    font-size: 1.5rem;
    margin-bottom: 65px;
    text-align: center;
  }

  /* ヘッダー */
  #header{
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #header li{
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  /* WORKS系 */
  #works ul{
    flex-direction: column;
  }

  #works li {
    width: 100%;
  }

  #works .list li{
    margin-bottom: 60px;
  }

  #works .list li img{
    margin-bottom: 20px;
  }

  /* NEWS系 */
  #news dl{
    flex-direction: column;
  }

  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #news dt{
    width: 100px;
    padding-top: 0;
  }
}